* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.navbar {
  position: fixed;
  margin-bottom: 0;
  width: 100%;
  height: 3.125rem;
  border: 1px solid black;
  display: flexbox;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  position: relative;
}
